.svgContainer {
    position: relative;
    height: 0;
    width: 100%;
    padding: 0 0 100% 0;
}
.svgContainer svg {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}